{% extends "layouts/dashboard_base.html" %}
{% block title %}Applications | Iniya Thalaimurai{% endblock %}

{% block content %}
    <!-- All Applications of this user -->
    <div class="text-base-content p-5 text-left text-lg font-semibold rtl:text-right">
        <p>My Applications</p>
    </div>

    <!-- Table Container -->
    <div class="rounded-lg pb-2 shadow-md">
        <div class="w-full overflow-x-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Acknowledgement No</th>
                        <th>Service Name</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Applied At</th>
                        <th>Download certificate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appln in page_obj %}
                        <tr>
                            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                            <td class="text-center">{{ appln.acknowledgementNumber|default:"-" }}</td>
                            <td>{{ appln.service.category }} - {{ appln.service.name }}</td>
                            <td>
                                <span class="badge 
                                    {% if appln.status == 'processing' %} badge-warning 
                                    {% elif appln.status == 'accepted' %} badge-success 
                                    {% elif appln.status == 'rejected' %} badge-error 
                                    {% endif %}">
                                    {{ appln.status|capfirst }}
                                </span>
                            </td>
                            <td>{{ appln.payment.amount }}</td>
                            <td>
                                {{ appln.userAppliedAt|date:"d-m-Y" }}
                                {{ appln.userAppliedAt|time:"h:i A" }}
                            </td>
                            <td class="text-center">
                            {% if appln.certificate %}
                                <a href="{{ appln.certificate.url }}" download class="btn btn-sm btn-info text-white" title="Download Certificate">
                                    <span class="icon-[tabler--download] size-5"></span>
                                </a>
                            {% else %}
                                <span class="text-base-content/50">-</span>
                            {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center text-sm text-gray-500 py-6">No applications found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
    <div class="mt-6 flex justify-center items-center flex-wrap gap-4">

        <!-- Prev button -->
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-text max-sm:btn-square hover:text-bg-soft-primary">
            <span class="icon-[tabler--chevron-left] size-5 rtl:rotate-180"></span>
            <span class="hidden sm:inline">Previous</span>
        </a>
        {% else %}
        <span class="btn btn-text max-sm:btn-square btn-disabled">
            <span class="icon-[tabler--chevron-left] size-5 rtl:rotate-180"></span>
            <span class="hidden sm:inline">Previous</span>
        </span>
        {% endif %}
        
        <div class="flex items-center gap-x-1">
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_num >= page_obj.number|add:'-2' and page_num <= page_obj.number|add:'2' %}
                    <a href="?page={{ page_num }}"
                        class="btn btn-soft btn-square aria-[current='page']:text-bg-soft-primary"  {% if page_obj.number == page_num %} aria-current="page" {% endif %}>
                        {{ page_num }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Next button -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-text hover:text-bg-soft-primary max-sm:btn-square">
                <span class="hidden sm:inline">Next</span>
                <span class="icon-[tabler--chevron-right] size-5 rtl:rotate-180"></span>
            </a>
        {% else %}
            <span class="btn btn-text max-sm:btn-square btn-disabled pointer-events-none">
                <span class="hidden sm:inline">Next</span>
                <span class="icon-[tabler--chevron-right] size-5 rtl:rotate-180"></span>
            </span>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}