{% extends "layouts/dashboard_base.html" %}
{% block title %}Payments | Iniya Thalaimurai{% endblock %}

{% block content %}
    <!-- All Applications of this user -->
    <div class="text-base-content p-5 text-left text-lg font-semibold rtl:text-right">
        <p>My Applications</p>
    </div>

    <!-- Table Container -->
    <div class="w-full rounded-lg pb-2 shadow-md">
        <div class="overflow-x-auto">
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Transcation ID</th>
                    <th>Service name</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Paid At</th>
                </thead>
                <tbody>
                    {% for payment in page_obj %}
                        <tr>
                            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                            <td>{{ payment.transactionID }}</td>
                            <td>{{ payment.service.category.name }} - {{ payment.service.name }}</td>
                            <td>
                                <span class="badge 
                                    {% if payment.status == 'verifying' %} badge-warning 
                                    {% elif payment.status == 'accepted' %} badge-success
                                    {% endif %}">
                                    {{ payment.status|capfirst }}
                                </span>
                            </td>
                            <td>{{ payment.amount }}</td>
                            <td>
                                {{ payment.paidAt|date:"d-m-Y" }}
                                {{ payment.paidAt|time:"h:i A" }}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center text-sm text-gray-500 py-6">No payments found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
    <div class="mt-6 flex justify-center items-center flex-wrap gap-4">

        <!-- Prev button -->
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-text max-sm:btn-square hover:text-bg-soft-primary">
            <span class="icon-[tabler--chevron-left] size-5 rtl:rotate-180"></span>
            <span class="hidden sm:inline">Previous</span>
        </a>
        {% else %}
        <span class="btn btn-text max-sm:btn-square btn-disabled">
            <span class="icon-[tabler--chevron-left] size-5 rtl:rotate-180"></span>
            <span class="hidden sm:inline">Previous</span>
        </span>
        {% endif %}
        
        <div class="flex items-center gap-x-1">
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_num >= page_obj.number|add:'-2' and page_num <= page_obj.number|add:'2' %}
                    <a href="?page={{ page_num }}"
                        class="btn btn-soft btn-square aria-[current='page']:text-bg-soft-primary"  {% if page_obj.number == page_num %} aria-current="page" {% endif %}>
                        {{ page_num }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Next button -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-text hover:text-bg-soft-primary max-sm:btn-square">
                <span class="hidden sm:inline">Next</span>
                <span class="icon-[tabler--chevron-right] size-5 rtl:rotate-180"></span>
            </a>
        {% else %}
            <span class="btn btn-text max-sm:btn-square btn-disabled pointer-events-none">
                <span class="hidden sm:inline">Next</span>
                <span class="icon-[tabler--chevron-right] size-5 rtl:rotate-180"></span>
            </span>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}