{% extends "layouts/dashboard_base.html" %}
{% block title %}Home | Iniya Thalaimurai{% endblock %}

{% block content %}    
    <!-- stats Web UI -->
    <div class="w-full justify-center hidden sm:flex flex-wrap gap-4 sm:space-x-8 sm:px-8">
        {% for stat in service_data %}
        <div class="card group shadow-md hover:shadow-lg max-w-sm">
            <figure>
                <img src="{{ stat.image_url }}" alt="{{ stat.category }} image"
                class="transition-transform duration-500 w-[300px] h-[200px] group-hover:scale-110" />
            </figure>
            <div class="card-body flex-row justify-center items-center">
                <p class="card-title">{{ stat.category }}</p>
                <span class="badge badge-primary badge-lg">{{ stat.application_count }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- stats mobile UI -->
    <div class="sm:hidden flex flex-col justify-center items-center">
        <h2 class="text-2xl font-bold mb-4">Number of Applications you submitted</h2>
        <ul class="border-base-content/25 divide-base-content/25 w-64 divide-y rounded-md border *:p-3 *:first:rounded-t-md *:last:rounded-b-md">
            {% for stat in service_data %}
                <li class="flex items-center justify-between">
                    {{ stat.category }} <span class="badge badge-primary rounded-full">{{ stat.application_count }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="text-base-content p-5 text-left text-lg font-semibold rtl:text-right">
        <p>Recent Applications</p>
        <p class="text-base-content/80 mt-1 text-sm font-normal">
            Browse the list of your recent applications
        </p>
    </div>

    <!-- 10 Recent applications of this user-->
    <div class="w-full rounded-lg pb-2 shadow-md">
        <div class="overflow-x-auto">
            <table class="table table-striped ">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Application ID</th>
                    <th>Service Name</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Applied At</th>
                </tr>
                </thead>
                <tbody>
                {% for appln in recent_applications %}  
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {{ appln.applicationID }}
                        </td>
                        <td>{{ appln.service.category }} - {{ appln.service.name }}</td>
                        <td>
                            <span class="badge 
                            {% if appln.status == 'processing' %} badge-warning 
                            {% elif appln.status == 'accepted' %} badge-success 
                            {% elif appln.status == 'rejected' %} badge-error 
                            {% endif %} text-xs">
                                {{ appln.status|capfirst }}
                            </span>
                        </td>
                        <td>
                            {{ appln.payment.amount }}
                        </td>
                        <td>
                            {{ appln.userAppliedAt|date:"d-m-Y" }}
                            {{ appln.userAppliedAt|time:"h:i A" }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}