{% load static %}
<nav class="navbar bg-base-100 max-sm:rounded max-sm:shadow-sm sm:border-b border-base-content/25 z-10 h-16 sticky top-0">
    <button type="button" class="btn btn-text max-sm:btn-square sm:hidden me-2" aria-haspopup="dialog" aria-expanded="false" aria-controls="with-navbar-sidebar" data-overlay="#with-navbar-sidebar" >
        <span class="icon-[tabler--menu-2] size-5"></span>
    </button>
    <div class="navbar-start flex flex-1 items-center">
        <a class="link text-base-content link-neutral text-xl font-bold no-underline flex items-center gap-2" href="#">
            <img src="{% static 'iniyathalaimurai/esevai logo.png' %}" alt="esevai logo" class="size-8">
            <p>Iniya Thalaimurai</p>
        </a>
    </div>
    <div class="navbar-end flex items-center gap-4">
        <div class="dropdown relative inline-flex [--auto-close:inside] [--offset:8] [--placement:bottom-end]">
        <button id="dropdown-scrollable" type="button" class="dropdown-toggle flex items-center" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
            <div class="avatar">
                <div class="size-9.5 rounded-full mx-2">
                    <img src="{% static 'iniyathalaimurai/pfp.png' %}" alt="user avatar" />
                </div>
            </div>
            <div class="flex items-center flex-col justify-center">
                <p class="text-base-content">
                    {% if request.user.name %}
                        {{ request.user.name }}
                    {% else %}
                        {{ request.user.phone_num }}
                    {% endif %}
                </p>
                <small class="text-base-content/50">
                    {% if request.user.is_staff %}
                        Admin
                    {% else %}
                        Customer
                    {% endif %}
                </small>
            </div>
        </button>
        <ul class="dropdown-menu dropdown-open:opacity-100 shadow-md border border-base-content/25 hidden min-w-60" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-avatar">
            <li class="dropdown-header justify-center gap-2">
                <p class="text-base-content text-sm">{{ request.user.phone_num }}</p>
            </li>
            <li>
            <a class="dropdown-item" href="#" class="hover:text-bg-soft-primary">
                <span class="icon-[tabler--user]"></span>
                My Profile
            </a>
            </li>
            <li>
            <a class="dropdown-item" href="#" class="hover:text-bg-soft-primary">
                <span class="icon-[tabler--settings]"></span>
                Settings
            </a>
            </li>
            <li>
            <a class="dropdown-item" href="#" class="hover:text-bg-soft-primary">
                <span class="icon-[tabler--receipt-rupee]"></span>
                Billing
            </a>
            </li>
            <li>
            <a class="dropdown-item" href="#" class="hover:text-bg-soft-primary">
                <span class="icon-[tabler--help-triangle]"></span>
                FAQs
            </a>
            </li>
            <li class="dropdown-footer gap-2">
            <a class="btn btn-error btn-soft btn-block" href="{% url 'users:logout' %}">
                <span class="icon-[tabler--logout]"></span>
                Sign out
            </a>
            </li>
        </ul>
        </div>
    </div>
</nav>