{% load static %}
{% with path=request.path selected_category_id=request.GET.category %}
<aside id="with-navbar-sidebar" class="w-72 bg-base-100 sm:h-[calc(100vh-4rem)] sm:sticky sm:top-[4rem] hidden sm:flex flex-col overlay [--auto-close:sm] sm:shadow-none overlay-open:translate-x-0 drawer sm:pt-0 pt-4 drawer-start sm:translate-x-0 sm:border-r border-base-content/25" role="dialog" tabindex="-1" >
    <div class="hidden">
        <span class="icon-[tabler--letter-a]"></span>
        <span class="icon-[tabler--letter-p]"></span>
        <span class="icon-[tabler--letter-d]"></span>
        <span class="icon-[tabler--letter-r]"></span>
        <span class="icon-[tabler--letter-v]"></span>
    </div>
    <div class="drawer-body px-2 py-2">
        <ul class="menu space-y-0.5 p-0">
            <li>
                <a href="{% url 'iniyathalaimurai:user_dashboard' %}" class="{% if path == '/dashboard/' %} text-bg-soft-primary {% endif %} hover:text-bg-soft-primary">
                    <span class="icon-[tabler--home] size-5"></span>
                    Dashboard
                </a>
            </li>
            <li class="space-y-0.5">
                {% with new_appln_url=path|slice:":18" %}
                <a class="collapse-toggle hover:text-bg-soft-primary" id="menu-app" data-collapse="#menu-app-collapse">
                    <span class="icon-[tabler--apps] size-5"></span>
                    New Application
                    <span class="icon-[tabler--chevron-down] collapse-open:rotate-180 size-4 transition-all duration-300"></span>
                </a>
                <ul id="menu-app-collapse" class="collapse {% if new_appln_url == '/applications/new/' %}collapse-open{% else %}hidden{% endif %} w-auto space-y-0.5 overflow-hidden transition-[height] duration-300" aria-labelledby="menu-app">
                    {% for cat in categories %}
                    <li>
                        <a href="{% url 'iniyathalaimurai:new_application' %}?category={{ cat.id }}" 
                        class="{% if cat.id|stringformat:'s' == selected_category_id %}text-bg-soft-primary{% endif %} hover:text-bg-soft-primary">
                            {% with initial=cat.name|slice:":1" %}
                            <span class="icon-[tabler--letter-{{ initial|lower }}] size-5"></span>
                            {% endwith %}
                            {{ cat.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endwith %}
            </li>
            <div class="divider text-base-content/50 m-0 py-6">View</div>
            <li>
                <a href="{% url 'iniyathalaimurai:user_applications' %}" class="{% if path == '/applications/' %} text-bg-soft-primary {% endif %} hover:text-bg-soft-primary">
                <span class="icon-[tabler--file-check] size-5"></span>
                    My Applications
                </a>
            </li>
            <li>
                <a href="{% url 'iniyathalaimurai:user_payments' %}" class="{% if path == '/payments/' %} text-bg-soft-primary {% endif %} hover:text-bg-soft-primary">
                <span class="icon-[tabler--currency-rupee] size-5"></span>
                    My Payments
                </a>
            </li>
            <div class="divider text-base-content/50 m-0 py-6">Account</div>
            <li>
                <a href="#" class="hover:text-bg-soft-primary">
                <span class="icon-[tabler--user] size-5"></span>
                    My Profile
                </a>
            </li>
        </ul>
    </div>
</aside>
{% endwith %}