{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Iniya Thalaimurai{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
</head>
<body class="flex flex-col min-h-screen w-full">

    <!-- django messages -->
    <div class="hidden">
        alert-success alert-error alert-info alert-warning
    </div>
    {% if messages %}
        <div class="absolute top-8 right-4 z-100" id="django-messages">
            {% for message in messages %}
                <div class="alert alert-soft alert-{{ message.tags }} removing:translate-x-5 removing:opacity-0 flex items-center gap-4 transition duration-300 ease-in-out my-2 text-primary" role="alert" id="dismiss-alert1">
                    {% if 'success' in message.tags %}
                        <span class="icon-[tabler--circle-check] shrink-0 size-6"></span>
                    {% elif 'error' in message.tags %}
                        <span class="icon-[tabler--alert-triangle] shrink-0 size-6"></span>
                    {% endif %}
                    {{ message }}
                    <button class="ms-auto leading-none" data-remove-element="#dismiss-alert1" aria-label="Close Button">
                        <span class="icon-[tabler--x] size-5"></span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- navbar -->
    {% include 'partials/navbar.html' %}
    <!-- main content layout -->
    <div class="flex flex-1">
        <!-- sidebar -->
        {% if request.user.is_staff %}
            {% include 'partials/staff sidebar.html' %}
        {% else %}
            {% include 'partials/sidebar.html' %}
        {% endif %}
        
        <!-- page content -->
        <main class="flex-1 w-full p-4">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <script src="{% static 'js/flyonui.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                document.getElementById("django-messages").style.display = "none";
            }, 5000);
        });
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>